<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rptes.rfeq" version="1.0.0-beta.9" android-versionCode="2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RFmonitor_mobile</name>
    <description>RFEQ</description>
    <author email="rptestw@gmail.com" href="https://rptes.com">
        RPTeS 科技工作室
    </author>
    <content src="index.html" />

    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="*" />
    <access origin="*" />
    <allow-navigation href="*"/>
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config"/>
            <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34" />
            <preference name="GradlePluginGoogleServicesEnabled" value="true" />
        </edit-config>

        <icon src="icon.png" />
    </platform>
</widget>
